@import url('https://fonts.googleapis.com/css?family=Days+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

main {
  height: 100vh;
}

h1 {
  font-family: 'Days One';
  font-size: 48px;
}

h2,
h3,
h4,
p {
  font-family: 'Roboto';
}

button {
  font-family: 'Roboto';
}

.bg-swim-demo {
  background-color: #f9f9f9;
}

.h-swim-demo {
  height: 637.5px;
}

.c-tooltip__text {
  color: black;
  z-index: 1;
  text-align: center;
  right: 0;
  top: 2rem;
  width: 300%;
  position: absolute;
  visibility: hidden;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.c-tooltip:hover .c-tooltip__text {
  visibility: visible;
}

.Demo__container {
  height: 95vh;
  width: 95vw;
  max-width: 1050px;
  max-height: 650px;
}

.c-QRCode {
  height: 350px;
  width: 350px;
  max-width: 30vw;
  max-height: 30vw;
}
